header .container {
  position: absolute;
  /* width: 100%; */
  top: 0;
  left: 0;
  right: 0;
  padding: 28px 20px;
}

.container .logo {

  width: 150px;
  text-align: center;
  cursor: pointer;
}

header nav {
  margin-left: auto;
  align-items: center;
}

nav ul {
  list-style: none;
  gap: 20px;
}

nav ul li a {
  font-family: 'Hind', sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #f44336;
}

nav .call-icon {
  margin-left: 30px;
  color: #f44336;



}

nav .call-us p {
  font-size: 13px;
  font-weight: 400;

  margin-left: 5px;
  margin-bottom: 1px;
  top: 3px;
  /* font-weight: 600; */
  color: #dc2751;
  ;
  text-transform: capitalize;
  color: #dc2751;
  text-transform: capitalize;
  line-height: 25px;

}

nav .call-us h5 {
  color: white;
  font-size: 18px;
  line-height: 25px;

}

/* main */


main .container {
  background: url(../img/3\ copy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  /* width: 100%; */
}

main .main-content {
  margin-top: 300px;
  /* line-height: 120px;  */
  /* font-weight: 900; */
  color: #fff;
}

.main-content h1 {
  font-size: 100px;
}

.main-content p {
  font-size: 16px;
  color: #FFFFFF;
}

.main-content .btn-1 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #FFFFFF;
  background-color: #DC2751;
  padding: 20px 50px;
  border-radius: 10%;
}



/* our services */

.our-services .container {
  background-color: #0b0a0a;
  padding: 130px 0px;
}

.our-services .servies .service_item {
  padding: 50px 30px 60px 30px;
  margin: 25px;
  background-color: #101010;
  border-radius: 20px;
}


.our-services .header p {
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  color: #DC2751;

}

.our-services .header h2 {
  font-size: 48px;
  text-align: center;
  line-height: 60px;
  font-weight: 900;
  margin-bottom: 15px;
  position: relative;
  color: #FFFFFF;
}


.our-services .service_item h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 800;

  /*  */

}


.our-services .service_item p {
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 400;
}

.our-services .line-center{
    width: 70px;
    position: absolute;
    left: 850px;
    height: 20px;
    /* margin:0; */
    border-top: 3px solid #dc2751;



.our-services .servies .service_item .svg img {
  width: 80px;
  height: 80px;
}

.our-services .servies .service_item .svg img {
  width: 100px;
  height: 100px;
  margin-left: 105px;
}

.our-services .servies .card-1 {
  background-color: #dc2751;
}


.our-services .servies .service_item .svg-2 {
  width: 200px;
  height: 100px;
  margin-left: 50px;
  padding-top: 20px;
}


/* ####our_works#### */
  
.our_works .container {
  background-color: rgb(27, 27, 27);
  padding: 130px 0px;
}

.our_works .works {
  margin-top: 40px;
}

.our_works .works .works_img {
  position: relative;
   transition: 0.5s;
}

.our_works .works .works_img .portfolio {
  transition: 0.5s;
}

.our_works .works .works_img:hover .portfolio {
  filter: blur(0px) brightness(0.5);
  transform: scale(0.95);
}

.our_works .header p {
  color: #dc2751;
}

.our_works .works .works_img h2 {
  color: white;

.our_works .works .works_img h4 {
  color: #dc2751;
}

.our_works .works .works_img .tag {
  text-align: center;
  display: none;
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  filter: none;
  transform: translateX(40px);
   transition: 1s;
}

.our_works .works .works_img:hover .tag {
  display: block;
  transform: translateX(0);
}

.our_works .header h2 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 15px;
  position: relative;
}

.our_works .line-center {
  width: 70px;
  position: absolute;
  left: 600px;
  height: 20px;
  border-top: 3px solid #dc2751;
}


/* our-Agency video/Bg-img */


.our-agency .container {
  background: linear-gradient(90deg,
      rgb(0, 7, 26) 0%,
      rgba(7, 14, 31, 0.644)15%), url(/img/6\ copy\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* background-blend-mode: overlay; */
  width: 1700px;
  height: 500px;
  background-attachment: fixed
}

.our-agency .content {
  padding: 130px 0px;
}

.our-agency .content h4 {
  font-size: 18px;
  color: #DC2751;
  text-transform: capitalize;
  font-family: var(--font-h4);
}

.our-agency .content h2 {
  font-size: 48px;
  font-weight: 900;
  color: #FFFFFF;

}



.our-agency .vid-icon i {
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-size: 50px;
  line-height: 110px;
  text-align: center;
  color: #dc2751;
  /* border: 2px solid whitesmoke; */
  border-radius: 50%
}

/* ####our-team ####*/

.our_team .container {
  background-color: #0b0a0a;
  padding: 130px 0px;

}

.our_team .header p {
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  color: #dc2751;
  margin: 0;
}

.our_team .header h2 {
  font-size: 48px;
  text-align: center;
  line-height: 60px;
  font-weight: 900;
  margin-bottom: 15px;
  color: white;
  position: relative;
}

.our_team .line-center {
  width: 70px;
  position: absolute;
  left: 600px;
  height: 20px;
  margin: 15px;
  border-top: 3px solid #dc2751;
}

.our_team .team-members {
  margin: 0 15px;
  padding: 0 12px;

}

.our_team .team-members .members {
  position: relative;
}

 



/* upcoming-event */

 .event .container{
   padding: 130px 50px;
  background: #101010;
  
 }

.our_team .team-members .members .member-name h5 {
  margin: 0 20px;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: black;
}

.our_team .team-members .members .member-name {
  position: absolute;
  top: 290px;
  left: 10px;
  width: 300px;
}

.our_team .team-members .members:hover .member-name {
  filter: var(#dc2751);
}


.event .e-head h4 {
  color: #f44336;
  font-size: 18px;

  font-family: var(--font-h4);
}

.event .e-head h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;

}

.event .e-head .line-hr {
  width: 70px;
  border-top: 3px solid #dc2751;
  display: block;
  margin: 15px auto;
 }

.event .date span{
  color: #f44336;
  font-size: 85px;
  margin-right: 12px;
  line-height: 48px;
  font-weight: 900;
  font-family: Poppins, sans-serif;
  color: white transparent;
  opacity: 0.8;
}

.event .date .time span{
    display: block;
  color: #CCCCCC;
  font-size: 16px;
  line-height: 16px;
  margin-top: 4px;

}

.event .text h5{
  color: white;
}

.event .text p{
  color:#DC2751;
}

.event .btn-1 {
  color: #FFFFFF;
  background-color: #DC2751;
  padding: 20px 50px;
  border-radius: 80px;
  line-height: 50px;

}

.event .item-list .fr{
  padding: 32px 32px;
  border-bottom: 2px solid #dc2751;
}

.event .item-list .sr{
   padding: 32px 32px;
    border-bottom: 2px solid #dc2751;
}

.event .item-list .tr{
   padding: 32px 32px;
    border-bottom: 1px solid #dc2751;
}


.event .positione-re {
  position: absolute;

}

.event .item-list .img{
  position: absolute;
  top: 50%;
  right:0px;
  transform: translateY(-50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.event .item-list .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: 0.4s;
}

.img-grayscale img{
  filter: grayscale(100%);
}

.event .item-list:hover .img img{
  transform: scale(1);
  opacity: 1;
}

/* /testimonials */

.testimonials .container {
  background-color: rgb(83, 76, 76);
}

.testimonials .card-item .card-info .author-img {
  width: 10%;
  height: 10%;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid rgba(220, 39, 81, 0.2);

}

.testimonials .card-item .card-info .author-img .img {
  width: 100%;
}

.testimonials .card-item .card-info .info {
  border-top: 2px solid rgba(220, 39, 81, 0.2);
  text-align: left;
  padding: 15px 0px 0px;
}

.testimonials .header p {
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  color: #dc2751;
  margin: 0;
}

.testimonials .header h2 {
  font-size: 48px;
  text-align: center;
  line-height: 60px;
  font-weight: 900;
  margin-bottom: 15px;
  color: white;

}

.testimonials .card-item .card-info {
  background: rgb(27, 27, 27);
  padding: 45px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}



/* Latest News */

.news .container{
  padding: 130px 0px;
  display: block;
  background-color:#101010;
  position: relative;
  overflow: hidden;
}

.news .container .n-head h6{
  color: #DC2751;
  font-size: 18px;

}

.news .container .n-head h2{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 900;
}

.news .hr-line {
  width: 70px;
  border-top: 3px solid #dc2751 !important;
  opacity: 1;
 margin: 15px auto;
}

.new-card{
  margin-bottom: 15px;
  
}

.news  .news-card .img-f{

  width: 368px;
  margin-left: 30px;
  
}



.new-card img{
 width:100px;
  
}
  
  
  
 /* #### Our Clients #### */

.our-clients .container{
  background-color: black;
}
.our-clients .header p{
    font-size: 18px;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
  color: #dc2751;
  margin: 0;
}

.our-clients .header h2{
    font-size: 48px;
  text-align: center;
  line-height: 60px;
  font-weight: 900;
  margin-bottom: 15px;
  color: white;

}


/* lets talk */

.develop .container{
  padding: 130px 0px;
}



.develop .container{
  background: url(/img/banner2\ copy.jpg);
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 1700px;
  height: 500px;
}

.develop .content h4{
  font-size: 20px;
  color: #dc2751;
}


.develop .content h2{
  font-size: 75px;
  color: #FFF;
}

.develop .content .dev-btn span{
  color: #FFFFFF;
  background-color: #DC2751;
  padding: 20px 50px;
  border-radius: 80px;
  line-height: 50px;
}

.develop .content .dev-btn .plan-icon{
  color:#101010;
  background-color:#FFF;
  padding: 20px 50px;
  border-radius: 80px;
  line-height: 50px;
  margin-left: 20px;
}



/* Footer Acens */

footer .top .container{
  padding: 120px 60px;
  background-color:#101010;
  display: block;
  position: relative;
}

footer .top h4{
  color: #FFF;
  font-size: 40px;
  font-weight: 900;
}

.top span{
  color:#dc2751;
  
}

.top p{
  font-size: 16px;
  color: #ccc;
}

.top .social a{

  width: 50px;
  height: 50px;
  border: 2px solid #dc2751;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
  line-height: 45px;
}


.top h5{
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 900;
}

.top .list-style li a{
  color: #FFF;
  font-size: 16px;
  padding-left: 15px;
}

.top .quick-link .list-style li a::before{
  position: absolute;
  top: 45%;
  left:30%;
  bottom: 0;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #dc2751;
  border-radius: 50%;
}


.top .c-info h5{
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 900;
}

.top .c-info p{
  font-size: 16px;
  color: #ccc;
  margin: 0px 0px 15px;
}

.top .c-info .phn-num{
  font-size: 24px;
  color: #dc2751;
  font-weight:600;
  display: block;
}

.top .c-info .mail{
  font-size: 16px;
  color: #FFF;
}

.top .c-info .mail::before {
  /* position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
  height: 2px;
  background-color:#dc2751;
  content:""; */

}

.top .sub h5{
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
  font-weight:900;
}

.top .sub p{
  color:#ccc;
  font-size: 16px;
  font-weight: 400;
}

.subscribe form{
  position: relative;
  margin-top:50px;
}

.top .subscribe form input{
  width: 100%;
  padding: 16px 60px 17px 16px;
  /* border: 2px solid #dc2751; */
  border-radius: 30px;
  color: #FFF;
  margin-bottom: 15px;
  /* outline: none; */
}

.top .subscribe form input{
  position: absolute;
  color: #dc2751;
  border-radius: 100%;
  top: 5px;
  right:5px;
  cursor: pointer;
  
}

/* bottom-footer */
footer .bottom .container{
  padding: 30px 60px;
  background-color:#101010;
  display: block;
  border-top: 2px solid #dc2751 ;
}


footer .bottom .btm-link li{
  display: inline-block;
  margin: 0px 25px 5px 0px;
}

.bottom .btm-link a{
  color: #ccc;
  font-size: 14px;
}

.bottom p{
  font-size: 14px;
  color: #ccc;
  margin-bottom:5px;
}

.bottom span{
  font-size:14px;
  color: #ccc;
  margin-left: 2px;
}


/* .bottom span p::before{
  
  background-color:#dc2751;
  content: "";
  height:2px;
  bottom:9px;
  left: 0;
  right: 0;
}
 */
}


